<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Contact Details</title>
</head>
<body>
           <section>
           
              <div class="card mr-3 ml-3">
              
                     <div class="body">
                     <h1 class="text-center">YOUR CONTACTS</h1>
                     <table class="table table-striped">
                      <thead>
                             <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Action</th>
                               </tr>
                     </thead>
                                 <tbody>
                                            <tr th:each="c: ${contacts}">
                                                     <th scope="row" th:text="${'PSB2K24'+c.cid}">1</th>
                                                               <td >
                                                               <img src="" class="my_profile_picture"  th:src="@{'/img/'+${c.imageUrl}}" alt="profile photo" />
                                                               
                                                               <span th:text="${c.name}"></span></td>
                                                                <td >
                                                               
                                                               <a th:href="@{'/user/'+${c.cid}+'/contact'}">
                                                               <span th:text="${c.email}"></span> 
                                                               
                                                               </a>
                                                                
                                                                </td>
                                                               <td th:text="${c.phone}">@mdo</td>
                                                                <td>
                                                                <a th:onclick="|deleteContact(${c.cid})|"class="btn btn-danger btn-sm"> <i class="fa-solid fa-trash"></i> </a>
                                                                <a class="btn btn-primary btn-sm"  th:href="@{'/user/update-contact/'+${c.cid}}"> <i class="fa-solid fa-pen-to-square"></i></a>
                                                                </td>
                                             </tr>
                                          
                                            
  </tbody>
</table>
<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item" th:if="${currentPage!=0}" >
      <a class="page-link"  th:href="@{'/user/show-contacts/'+${currentPage-1}}" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item" th:classappend="${currentPage==i-1?'active':''}" th:each="i: ${#numbers.sequence(1,totalPages)}"><a class="page-link" th:href="@{'/user/show-contacts/'+${i-1}}"href="#"><span th:text="${i}"></span></a></li>
   
    
    <li th:if="${currentPage+1!=totalPages}" class="page-item">
      <a class="page-link" th:href="@{'/user/show-contacts/'+${currentPage+1}}" href="#">Next</a>
    </li>
  </ul>
</nav>
                     
                     
                     
                     
                     
                     
                     </div>
              
              </div>
           </section>
             
</body>
</html>